<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to NaviProject</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Images/logo.png" alt="Logo">
            </a>
            @Html.ActionLink("NaviProject", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if ((string)this.Session["Username"] != null)
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                @if ((string)this.Session["Username"] != null)
                {
                    <div class="navbar-nav flex-grow-1 nav-link justify-content-end">Welcome @this.Session["Username"].ToString()!</div>
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>

                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div style="position:absolute; bottom: 0px; width:80vw;">
            <hr />
            <footer class="align-bottom">
                <p>&copy; @DateTime.Now.Year - NaviProject</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
